/* Global Styles */
body {
    background: #0c192c;
    size: 10%;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
h2 {
    color: #fff;
}
h3, h4 {
    color: #ffffff80;
    font-family: 'Poppins', sans-serif;
}
p {
    color: #d0bebe;
}
li {
    color: #d0bebe;
    list-style: none;
}
li { 
    transition: all .2s ease-in-out; 
}
    
li:hover { 
   cursor: pointer;
   transform: scale(1.1); 
}
hr {
    color: #fff;
    background-color: #2f3235;
    border-radius: 10px;
    border: 2px solid #2f3235;
    margin: 50px;
    margin-left: 15%;
    margin-right: 15%;
}
/* End global Styles */

/* Navbar */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 100px;
  }
  
  #navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
  }
  #navbar li a {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff80;
    transition: 0.3s ease;
  }
  ul {
    margin-left: 1300px;
  }
  #navbar .btn{
    color: white;
    border: black;
  }
  #navbar .btn:hover{
    background-color: #1e2329;
  }
  #mobile {
    display: none;
    align-items: center;
  }
  #close {
    display: none;
  }
  #mobile {
    display: none;
    align-items: center;
  }

/* End navbar */

/* Home */
#home {
    background-color: #f9f9f9;
    height: 650px;
    margin-bottom: 50px;
}
#home p {
    color: black;
    font-size: 28px;
}
#home img{
    width: 10px;
    border-radius: 100px;
}
#home h2{
    color: gray;
    font-size: 68px;
}
.home-div1{
    margin-top: 160px;
}
.home-div2{
    margin-top: 180px;
}
.github-icon{
    color: black;
    margin-right: 20px;
}
/* End home */

/* About */
#about img{
    /* border-radius: 360px; */
    margin-right: 40px;
}
/* End about */

/* Skills */
.skills-div h2 {
    text-align: center;
    margin-bottom: 50px;
    margin-left: 40px;
}
.skills-div h3 {
    text-align: center;
    margin-left: 40px;
}
.skills-div p{
    margin-bottom: 20px;
    margin-left: 50px;
}
.technology {
    color: #f9f9f9;
    margin-right: 10px;
}
.col-md-4 {
    text-align: center;
}
/* End skills */

/* Projects */
#projects {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

#projects .project {
    width: calc(33.33% - 20px);
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #2f3235;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#projects .project:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    transform: scale(1.02);
}

#projects .project img {
    width: 100%;
    border-radius: 20px;
}

#projects .project .des {
    text-align: start;
    padding: 10px 0;
    margin-top: 20px;
    height: 300px;
}

#projects .des span {
    font-size: 12px;
}
.title p {
    margin-bottom: 40px;
}
.project {
    justify-content: start;
    transition: all .2s ease-in-out; 
}
.project a {
    margin-bottom: 20px;
    color: white;
}

.container h2 {
    text-align: center;
    margin-bottom: 50px;
}
/* End projects */

/* Contact */
.contact-div {
    padding: 50px 0;
    text-align: center;
}

.contact-box {
    padding: 20px;
    border: 1px solid #2f3235;
    border-radius: 10px;
    margin: 10px;
    transition: all .2s ease-in-out; 
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
.contact-box a{
    text-decoration: none;
}
.contact-box p {
    margin-top: 20px;
}
.contact-box svg {
    margin-right: 15px;
}
.contact-box:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    transform: scale(1.02);
    color: purple;
}
/* End contact */

/* Mobile */
#mobile {
    display: none;
    align-items: center;
}
#close{
    display: none;
}
/* End mobile */

/* Footer */
#footer{
    height: 150px;
}
#footer-note{
    margin-top: 50px;
    color: #ffffff80;
    text-align: center;
}
/* End footer */

 /* Media Query (Tablets)*/
 @media (max-width: 958px) {
    .section-p1 {
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #1e2329;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s; 
    }
    #navbar.active {
        right: 0;
    }
    #navbar li {
        margin-bottom: 25px;
    }
    ul {
        margin-left: -800px;
    }
    #mobile {
        display: flex;
        align-items: center;
    }
    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #ffffff80;
        font-size: 24px;
    }
    .home-div1 .responsive-img {
        width: 90% !important;
    }
    #about .responsive-img {
        width: 80% !important;
        height: 70%;
        margin-top: 60px;
    }
    #about p{
        font-size: 20px;
    }
}